<div class="jumbotron">
<h1>Countdown to Hawaii</h1>
<p>This is a simple bot to make an atmosphere for exciting events like Hawaii trip, release of awesome products or a party in honor of the 20th anniversary of your company.</p>

<% if current_user %>
  <p><%= link_to "Show everyone's events", events_path, class: "btn btn-primary btn-lg" %></p>
<% else %>
  <p><%= link_to 'Sign in with Yammer', '/auth/yammer', class: "btn btn-primary btn-lg" %></p>
<% end %>
</div>
