// Place all the styles related to the application controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
@import "twitter/bootstrap";
@import "bootswatch";
@import "variables";
@import "jquery.maximage.less";

body{
	width: 100%;
	text-align: center;
}
main{
	max-width: 1024px;
	min-height: 678px;
	text-align: left; margin: 0px auto;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.jumbotron{
	background-color: transparent;
}

#maximage{
  position:fixed !important;
}
